@import url(https://fonts.googleapis.com/css?family=Michroma&display=swap);



body {
    font-family: Michroma,serif;
    background:linear-gradient(90deg, #fbff00 0%, #b47474 100%);
}

p {
    color: rgb(11, 11, 11);  
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(217, 30, 30);
}


.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(203, 173, 173);
}


.sidebar {
    color: rgb(11, 11, 11);
    background:linear-gradient(270deg, #fbff00 0%, #b47474 100%);
}


.card {
    background:linear-gradient(270deg, #fbff00 0%, #b47474 100%);
    color: rgb(11, 11, 11);
}


.card a {
    text-decoration: none;
    color: rgb(11, 11, 11);

}


.slide-text,
.footer-text {
    color: rgb(11, 11, 11);
    margin: auto auto;
}

footer {
    background:linear-gradient(270deg, #fbff00 0%, #b47474 100%); 
}


.btn-outline-primary {
    background:linear-gradient(90deg, #fbff00 0%, #b47474 100%); 
}


.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}


.call-anim {
    animation: myAnim 2s ease 0s 20 normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
    
}







